In [1]:
#Q1. Create one variable containing following type of data:
#(i) string

a="My name is Shubham"
type(a)

str

In [2]:
print(a)

My name is Shubham

In [3]:
#(ii) list
b=["Shubham",28,'M',"Cross Road 33"]
type(b)

list

In [4]:
print(b)

['Shubham', 28, 'M', 'Cross Road 33']

In [5]:
#(iii) float
c=12.32
type(c)

float

In [6]:
print(c)

12.32

In [7]:
#(iv) tuple
d=(12,17,21,32,28)
type(d)

tuple

In [8]:
print(d)

(12, 17, 21, 32, 28)

In [9]:
#Q2. Given are some following variables containing data:
#(i)var1=‘‘-- Invalid

var1=‘‘
type(var1)

SyntaxError: invalid character '‘' (U+2018) (3348424619.py, line 4)

In [11]:
#(ii) var2 = ‘[ DS , ML , Python]’-- Invalid

var2 = ‘[ DS , ML , Python]’
type(var2)

SyntaxError: invalid character '‘' (U+2018) (1234650512.py, line 3)

In [12]:
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]--Invalid

var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
type(var3)

SyntaxError: invalid character '‘' (U+2018) (2002089636.py, line 3)

In [13]:
#(iv) var4 = 1--integer

var4 = 1
type(var4)

int

In [14]:
#Q3. Explain the use of the following operators using an example:
#(i) /-- Division(Float):divides the first operand by the second
a=5
b=7
c=b/a
print(c)

1.4

In [15]:
#(ii) %-- Modulus:returns the remainder when the first operand is divided by the second
a=3
b=5
c=b%a
print(c)

2

In [16]:
#iii) //-- Floor Division:divides the first operand by the second
a=12
b=20
c=b//a
print(c)

1

In [17]:
#(iv) **--Power: Returns first raised to power second
a=5
b=3
c=a**b
print(c)

125

In [18]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

lists = ['Shubham','Singh',28,'Jamshedpur','Jharkhand','India',831009,22.76,86.20,True]
for list1 in lists:
    print(list1,type(list1),sep=":")

Shubham:<class 'str'>
Singh:<class 'str'>
28:<class 'int'>
Jamshedpur:<class 'str'>
Jharkhand:<class 'str'>
India:<class 'str'>
831009:<class 'int'>
22.76:<class 'float'>
86.2:<class 'float'>
True:<class 'bool'>

In [27]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

i=2
n=10

while i<=n:
    if n%i == 0:
        print(i)
    else:
        print("Not Divisible")
    i = i+1

2
Not Divisible
Not Divisible
5
Not Divisible
Not Divisible
Not Divisible
Not Divisible
10

In [25]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

list2 = [7,9,12,14,15,17,21,27,30,32,33,35,37,39,41,47,48,51,52,54,55,62,63,65,68]
for i in list2 :
   if(i%3==0):
      print(i,"Divisible by 3",sep=" : ")
   else:
    print(i,"Not divisible by 3",sep=" : ")

7 : Not divisible by 3
9 : Divisible by 3
12 : Divisible by 3
14 : Not divisible by 3
15 : Divisible by 3
17 : Not divisible by 3
21 : Divisible by 3
27 : Divisible by 3
30 : Divisible by 3
32 : Not divisible by 3
33 : Divisible by 3
35 : Not divisible by 3
37 : Not divisible by 3
39 : Divisible by 3
41 : Not divisible by 3
47 : Not divisible by 3
48 : Divisible by 3
51 : Divisible by 3
52 : Not divisible by 3
54 : Divisible by 3
55 : Not divisible by 3
62 : Not divisible by 3
63 : Divisible by 3
65 : Not divisible by 3
68 : Not divisible by 3

In [ ]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

#i. Mutable datatype: A mutable object can be changed after it is created.
# Example: List, Dictionary, Set
# List = ["Shubham", "Singh", 25, India]

#ii. Immutable datatype: An immutable object cannot be changed after it is created.
# Example: Number, String, Tuple
# Tuple = ("Adam", True, 29.0, "Australia")